/* .landing-container {
    display: flex;
    width: 80%;
    min-height: 500px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,138,121,1) 33%, rgba(0,212,255,1) 100%);
    border-bottom-right-radius: 200px 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

.title-content {
    vertical-align: middle;
}

.title-content .heading {
    font-size: 200px;
    color: #fff;
}

.title-content .sub-heading {
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(200, 200, 200);
}

.fele-image {
    
} */